<div class="container">
    <form class="form-signin" action="/" method="post" autocomplete="off">
        <div class="text-center mt-5">
            <h1 class="h3 font-weight-normal text-muted">Twitter User Details</h1>
        </div>

        <div class="form-label-group">
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Enter Username"
                required autofocus>
        </div>
        <button type="submit" class="btn btn-lg btn-secondary btn-block mt-3" type="submit">Search User</button>
    </form>
</div>